Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/Megascans
Content/QuickSandWorm
Content/KingSpawn
Content/MSPreserts
Content/StarterBundle
Content/Realistic_Starter_VFX_Pack_Vol2
Content/SciFiRocketLauncher_AK9
Content/Scifi_Arsenal_Vol2
Content/Sci-Fi_MachineGun
Content/Sci-Fi_Sniper_Rifle
Content/SciFiCreaturesVol1
Content/Sci-FI_Troopers_Collection
Content/SSF_Buildings
Content/CSC
Content/ParagonWraith
Content/ParagonDekker
Content/VigilanteContent
Content/Assets/*
Content/StarterContent
!Content/Assets/Font
!Content/Assets/ReadMe.txt

.vs
Saved/*
Binaries/*
DerivedDataCache/*
Intermediate/*