Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


Content/CSC
Content/ParagonWraith
Content/VigilanteContent
Content/Assets/*
Content/StarterContent
!Content/Assets/Font
!Content/Assets/ReadMe.txt

.vs
Saved/*
Binaries/*
DerivedDataCache/*
Intermediate/*